<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>Angular app</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- ANGULAR 1.6.7 -->
    <script type="text/javascript" src='js/shared/angular.js'></script>
  </head>
  <body>
    <!-- <div ng-controller='mainController' class=""> -->
      <!-- <div class="card">
        <app-name data="Book1"><app-name>
      </div>
      <div class="card">
        <app-name data="Book2"><app-name>
      </div>
      <div class="card">
        <app-name data="Book3"><app-name>
      </div>
      <div class="card">
        <app-name data="Book4"><app-name>
      </div> -->
      <!-- <div class="card" ng-init="firstName='';lastName=''">
        <input type="text" ng-model="firstName">
        <input type="text" ng-model="lastName">
        <p style="background:red;color:#fff;padding:0 5px">First name is: {{ firstName }}</p>
        <p style="background:red;color:#fff;padding:0 5px;margin-top:5px">Last name is: {{ lastName }}</p>
      </div> -->

      <!-- <div class="card ">
        directive: my-dir
      </div> -->
      <!-- <div class="card" ng-controller="input">
        <input type="text" ng-model="name" value="">
        <p>{{ name }}</p>
      </div>
      <div class="card" ng-controller="timeoutFun">
          Hi {{ name }}
      </div> -->
      <div class="card" ng-controller="httpData" ng-cloak>
        <ul class="list-unstyled">
          <li>
            <h1>{{ maData.country }}</h1>
          </li>
          <li>
            <h3>{{ maData.city_name }}</h3>
          </li>
          <li>
            <table>
              <tr>
                <td>No.</td>
                <td>Name</td>
                <td>Age</td>
                <td>profession</td>
              </tr>
              <tr ng-repeat="friend in maData.friends">
                <td> {{ $index + 1 }} </td>
                <td> {{ friend.name | uppercase}} </td>
                <td> {{ friend.age}} </td>
                <td> {{ friend.profession}} </td>
              </tr>
            </table>
          </li>
        </ul>
      </div>
      <div class="card" ng-controller="selOpts">
        <select ng-model="selectedName" ng-options="item.name for item in names"></select>
        <p>you select the name: {{ selectedName.name}}
        <span style="display: block;"> and his/her age is {{ selectedName.age }} </span>
        <span style="display: block;"> and his/her is a {{ selectedName.profession }} </span>
        </p>
      </div>
      <div class="card" ng-controller="rCont">

      </div>


    <script type="text/javascript" src='js/shared/jquery.js'></script>
    <!-- Modules -->
    <script type="text/javascript" src='js/app.js'></script>
    <!-- Controller -->
    <script type="text/javascript" src='js/controller/mainController.js'></script>
    <!-- Directives -->
    <script type="text/javascript" src='js/directive/appInfo.js'></script>
    <script type="text/javascript" src='js/directive/directive.js'></script>
    <!-- Services -->
    <script type="text/javascript" src="js/shared/services/angular-route.js">

    </script>
  </body>
</html>
